<h1>{{habitEditDetails.Habit}}</h1>
<h1>{{data}}</h1>

<div class="container-fluid bg-blue">
   <div class="container">
     <nav class="navbar navbar-expand-md p-3">
      <a class="navbar-brand fw-bold text-white fs-3 d-flex align-items-center gap-3" href="/"><img class="favicon-sm bg-white" src="/images/habitsu.png" alt=""> Habitsu</a>
       <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
         <li class="nav-item">
              <div class="dropdown">
  <a class=" dropdown-toggle fs-2 d-flex align-items-center" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    <img class="favicon-sm" src="/images/avatar.svg" alt="">
  </a>

  <ul class="dropdown-menu rounded-2 py-3 px-2" aria-labelledby="dropdownMenuLink">
    <li class="d-flex gap-1">  <img class="favicon-sm" src="/images/avatar.svg" alt=""><p>{{userName}}</p></li>
    <li class="py-1"><a class="dropdown-item" href="/habitPractice">Recommendations</a></li>
    <li class="py-1"><a class="dropdown-item" href="/profile">Profile</a></li>
    <li class="py-1"><a class="dropdown-item" href="/profile/settings">Account Settings</a></li>
    <li class="py-1"><a class="dropdown-item" href="/habitCreate">Add habit</a></li>
    <li class="py-1"><form class="px-3" method="POST" action="/auth/logout">
  <button class="p-0 border-0 bg-transparent" type="submit">Sign Out</button>
</form></li>
  </ul>
</div>
         </li>
        </ul>
       </div>
    </div>
    </nav>
   </div>
</div>
 <div>
     <label ><h1 style="color: darkblue; font:bolder">Search your habbit</h1></label>
   <select style="border-width: 5px;  border-color:darkblue" name="select" onchange="window.location.href=this.value">
    {{#each userHabits.habit}}
      <option value="/myHabits/{{_id}}">{{this.Habit}}</option>
    {{/each}}
  </select>
</div>
    
</div>
            
     
             <li class="nav-item d-flex justify-content-center gap-3 pb-4 d-md-none p-2 border-bottom border-muted">
                <a class="btn btn-primary fs-4 rounded-5 px-4 py-2" href="/login">Login</a>
                <a class="btn btn-primary fs-4 rounded-5 px-4 py-2" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item d-md-none border-bottom border-muted pb-4">
              <a class="text-decoration-none text-dark fs-5" href="">Pricing</a>
            </li>
            <li class="nav-item d-md-none d-flex flex-column">
              <a class="text-decoration-none text-dark fs-5" href="">Email Us</a>
              <a class="text-decoration-none text-dark fs-5" href="">Privacy Policy</a>
              <a class="text-decoration-none text-dark fs-5" href="">Terms of Service</a>
            </li>
            <li class="nav-item d-flex gap-3 d-md-none">
              <a href=""><img src="/images/twitter.svg" alt=""></a>
              <a href=""><img src="/images/linkedin.svg" alt=""></a>
            </li>
        </ul>
      </div>
    </div>
    </nav>
   </div>
</div>

{{#if userHabits.habit}}
<div class="all-div"></div>
  {{#each userHabits.habit}}
 
  
    <h1> <a href="/myHabits/{{_id}}">{{this.Habit}}</a></h1>
    <h1>My goal: {{this.Goal}}</h1>

    <form action="/habitEdit/{{this._id}}" method="get">
      <button>Edit</button>
    </form>

    <form
      action="/habitDelete/{{this._id}}"
      method="post"
      onsubmit="return confirm('Are you sure you want to delete this habit?');"
    >
      <button>Delete</button>
    </form>

    <form
      action="/habitCount/{{this._id}}"
      method="get"
    >
      <button>Progress Check</button>
    </form>
    
  
  {{/each}}
  </div>
 <div>

 </div>
  


 {{else}}
  <h1>No habits added yet.</h1>
{{/if}}